[Unit]
Description=nezha server
After=network-online.target
Before=nss-lookup.target
Wants=network-online.target nss-lookup.target

[Service]
MemorySwapMax=0
Type=forking
User=nezha
Group=nezha
ExecStart=/etc/nezha/nezha-server.sh start
ExecStop=/etc/nezha/nezha-server.sh stop

[Install]
WantedBy=multi-user.target