[Unit]
Description=Onedrive Service
After=network.target

[Service]
Type=forking
User=onedrive
Group=onedrive
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/onedrive/onedrive.sh start
ExecStop=/usr/local/onedrive/onedrive.sh stop

[Install]
WantedBy=multi-user.target