[Unit]
Description=Onedrive Watch Service
After=network.target

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/local/onedrive/onedrive-watch-dog.sh

[Install]
WantedBy=multi-user.target