[Unit]
Description=Uptime-kuma start stop
After=network-online.target

[Service]
User=uptime-kuma
Group=uptime-kuma
Type=forking
ExecStart=/usr/local/uptime-kuma/uptime-kuma.sh start
ExecStop=/usr/local/uptime-kuma/uptime-kuma.sh stop

[Install]
WantedBy=multi-user.target